@charset "UTF-8";
.poster {
  height: 500px;
}

.poster_body {
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.poster_title {
  font-family: Georgia, "Book Antiqua", "Palatino", Times, serif;
  text-rendering: geometricPrecision;
  font-weight: normal;
  font-size: 48pt;
  margin: 0 0 10px;
  color: #fff;
}
.font_playfair .poster_title {
  font-family: "Playfair Display", Georgia, "Book Antiqua", "Palatino", Times, serif;
}

.poster_block {
  position: absolute;
  background: rgb(6, 21, 22);
  background: rgba(6, 21, 22, 0.8);
  color: #fff;
  width: 400px;
  bottom: 20px;
  left: 5%;
  text-align: center;
  padding: 20px;
  line-height: 1;
}

.poster_text {
  font-family: cursive;
  font-size: 28pt;
  margin: 0;
}

.font_annie .poster_text {
  font-family: "Annie Use Your Telescope", cursive;
}

.poster_links {
  margin: 10px 0 0;
}

.poster_link {
  font-family: "Playfair Display", Georgia, "Book Antiqua", "Palatino", Times, serif;
  color: #00A3FF;
  text-decoration: none;
  font-size: 18pt;
  padding: 0 10px;
  display: inline-block;
  height: 34px;
  line-height: 32px;
  border-radius: 5px;
  background: #000;
}
.poster_link:hover {
  background: #333;
}
.poster_link:active {
  color: #5CC4FF;
  background: #444;
}
.poster_link:after {
  content: " »";
}

/** Havestue **/
.poster_body_havestue {
  background-image: url("../gfx/havestue.jpg");
}

/** Området **/
.poster_body_omraadet {
  background-image: url("../gfx/omraadet.jpg");
}

.poster_block_omraadet {
  left: auto;
  right: 5%;
  background: rgb(26, 18, 12);
  background: rgba(26, 18, 12, 0.8);
}

.poster_link_omraadet {
  color: #E07133;
  background: #21221D;
}
.poster_link_omraadet:hover {
  background: rgb(46.3571428571, 47.7619047619, 40.7380952381);
}
.poster_link_omraadet:active {
  color: rgb(237.4553191489, 174.6340425532, 139.5446808511);
  background: rgb(59.7142857143, 61.5238095238, 52.4761904762);
}

/** Haven **/
.poster_body_haven {
  background-image: url("../gfx/haven.jpg");
  background-position: 20% 50%;
}

.poster_block_haven {
  left: auto;
  right: 50%;
  bottom: 70px;
  margin-right: -220px;
}

.poster_link_haven {
  color: #C2FF00;
  background: #162A16;
}
.poster_link_haven:hover {
  background: rgb(30.765625, 58.734375, 30.765625);
}
.poster_link_haven:active {
  background: rgb(39.53125, 75.46875, 39.53125);
  color: #F2FFC9;
}

/** Værelserne **/
.poster_body_vaerelserne {
  background-image: url("../gfx/vaerelserne.jpg");
}

.poster_block_vaerelserne {
  background: rgb(222, 229, 231);
  background: rgba(222, 229, 231, 0.8);
  left: auto;
  right: 40%;
  margin-right: -220px;
}
.poster_block_vaerelserne .poster_title,
.poster_block_vaerelserne .poster_text {
  color: #000;
}

.poster_link_vaerelserne {
  background: #C9CECF;
  color: #7A26A2;
}
.poster_link_vaerelserne:hover {
  background: rgb(214.5, 218.25, 219);
}
.poster_link_vaerelserne:active {
  color: rgb(173.88, 86.52, 215.48);
  background: rgb(228, 230.5, 231);
}

/** Skoven **/
.poster_body_skoven {
  background-image: url("../gfx/skoven.jpg");
}

.poster_block_skoven {
  background: rgb(207, 241, 180);
  background: rgba(207, 241, 180, 0.8);
  left: 20%;
  margin-right: -220px;
}
.poster_block_skoven .poster_title,
.poster_block_skoven .poster_text {
  color: #000;
}

.poster_link_skoven {
  background: #C8DFAE;
  color: #4E5200;
}
.poster_link_skoven:hover {
  background: rgb(212.4115044248, 230.2212389381, 192.2787610619);
}
.poster_link_skoven:active {
  color: rgb(175.0243902439, 184, 0);
  background: rgb(224.8230088496, 237.4424778761, 210.5575221239);
}