.shared_frame_light {
  padding: 4px;
  border: 1px solid #DDDDDD;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #eee;
  background: #fff;
  display: inline-block;
}

/** Elegant **/

.shared_frame_elegant {
  display: inline-block;
  border-style: solid;
  border-width: 28px 28px 34px 28px;
  border-image: url('../../basic/gfx/frames/elegant.png') 28 28 34 28 fill stretch;
}

.shared_frame_elegant_content {
  display: block;
}


/** Slant **/

.shared_frame_shadow_slant {
  display: inline-block;
  border-style: solid;
  border-width: 8px 9px 14px 9px;
  border-image: url('../../basic/gfx/frames/shadow_slant.png') 8 9 14 9 fill stretch;
}

.shared_frame_shadow_slant_content {
  display: block;
}

/** Polaroid **/

.shared_frame_polaroid {
  background: url('../../basic/gfx/backgrounds/lightpaperfibers.png');
  display: inline-block;
  padding: 10px 10px 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2); 
}

.shared_frame_polaroid_content {
  display: block;
  font-size: 0;
  position: relative;
  background: #fafafa;
}

.shared_frame_polaroid_content:before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);
}



.shared_frame-adaptive {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
}