@import '../../basic/scss/mixins';

$font-family: 'Lato','Helvetica Neue','Helvetica','Arial','Lucida Grande','Lucida Sans Unicode', sans-serif;

$color: #324d60;

$highlight-color: #007AC5;

$button-color: #eee;

$link-color: #00A8A8;

$link-color: #0094FF;

$link-visited-color: #AC60FF;

// Conservative...
$link-color: #028CE0;

$link-visited-color: #934DE0;


$line-color: #eee;