body {
  margin: 0;
  padding: 0;
  font-family: Georgia,Times,serif;
  background: #fafafa;
}

.layout {
  max-width: 980px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 20px #ddd;
}

.layout_top {
  background: url('../gfx/top_green2.jpg');
  height: 236px;
  position: relative;
}

.layout_top_fade {
  position: absolute;
  background: url('../gfx/top_green2.jpg') 0 -236px;
  height: 236px;
  width: 100%;
  visibility: hidden;
}

.layout_bottom {
  text-align: center;
  height: 180px;
  position: relative;
}

.layout_bottom_effect {
  width: 235px;
  height: 140px;
  position: absolute;
  background: url('../gfx/sprite.jpg') -277px -35px no-repeat;
  left: 20px;
  top: 20px;
}

.layout_bottom a {
  background: url('../gfx/sprite.jpg') 0px -429px no-repeat;
  position: absolute;
  width: 438px;
  height: 155px;
  bottom: 15px;
  right: 15px;
  margin: 0;
  color: #999;
}

.layout_bottom a span {
  position: absolute;
  left: -10000px;
}



.layout_top p {
  background: url('../gfx/logo.png');
  width: 303px;
  height: 151px;
  margin: 0;
  right: 20px;
  top: 10px;
  position: absolute;
  font-size: 0;
}

/***************** Navigation *****************/

div.layout_navigation {
  position: absolute;
  bottom: 0;
  font-family: 'Ovo';
  font-weight: 200;
}

ul.layout_navigation {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  height: 50px;
}

ul.layout_navigation li {
  height: 50px;
  float: left;
  line-height: 50px;
}

ul.layout_navigation a {
  font-size: 24px;
  padding: 0 15px;
  color: #301;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
}

ul.layout_navigation a:hover {
  background-color: rgba(255,255,255,.2);
}

div.layout_content {
  padding: 20px;
}