$target: async;
@import 'shared';

@import 'parts/header';
@import 'parts/submenu';
@import 'parts/layout';

@include if {

  body {
    margin: 0;
    padding: 0;
    font-family: $font;
  }

}


@include if (( width: 600px )) {

  body {
    background: #fafafa;
  }

}