$target: async;
@import 'shared';

@include if {
  .common_link {
    color: #ddd;
    color: rgba(0,0,0,.1);

    &_text {
      color: #0D589C;
    }

    &:hover,
    &_text:hover {
      color: #2D8BE0;
    }
  }

  .part_section {
    &_header {
      padding: 0;
      &-1 {
        margin-bottom: 20px;
      }
      &-2 {
        margin: 20px 0 5px;
      }
      &-3, &-4, &-5, &-6 {
        margin: 10px 0 0;
      }
    }
    &_listing {
      padding: 0;
      margin: 5px 0;
    }
    &_text {
      padding: 0;
      margin: 5px 0;
    }
  }

  .part_header {
    color: #333;
    font-weight: normal;
    font-family: $font;

    &-1 {
      font-size: 28px;
      font-weight: 600;
    }
    &-2 {
      font-size: 24px;
      font-weight: 600;
    }
    &-3 {
      font-size: 16px;
      font-weight: bold;
    }
    &-4 {
      font-size: 16px;
      font-weight: bold;
    }
    &-5 {
      font-size: 16px;
      font-weight: bold;
    }
    &-6 {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .part_horizontalrule {
    border: none;
    border-bottom: solid 1px #eee;
    margin: 10px -20px;
  }

  .part_text {
    font-family: $font;
    font-size: 16px;
    p {
      margin: 5px 0;
    }
  }

  .part_listing {
    font-family: $font;
    font-size: 16px;

    &_first {
      font-weight: inherit;
    }

    &_item {
      color: #ccc;
    }

    &_text {
      color: #333;
    }

  }
}

@include if (( width: 600px )) {

  .part_header {

    &-1 {
      font-size: 42px;
    }
    &-2 {
      font-size: 24px;
    }
    &-3 {
      font-size: 16px;
      font-weight: bold;
    }
    &-4 {
      font-size: 16px;
      font-weight: bold;
    }
    &-5 {
      font-size: 16px;
      font-weight: bold;
    }
    &-6 {
      font-size: 16px;
      font-weight: bold;
    }
  }
}