@include if {
  @keyframes news-blink {
    30% {
      //color: #fffbc7;
    }
    50% {
      //color: #000;
      opacity: 1;
    }
    70% {
      //color: #fffbc7;
      opacity: 0;
    }
    90% {
      //color: #fffbc7;
      opacity: 1;
    }
  }
  .news {
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    background: #fffbc7;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    
    h2 {
      margin: 0;
      font-size: 24px;
      animation: news-blink 2s infinite;
    }
    p {
      margin: 10px 0 0;
    }
  }
}

@include if((width: 700px)) {
  .news {
    text-align: left;
  }
}