@include if((target:inline)) {
  .offer {
    margin: $small-section-space -15px;

    &_box {
      background: #eef2e3;
      padding: 30px 15px;
      text-align: center;
    }

    &_title {
      margin: 0 auto 10px;
      font-size: em(32,16);
      max-width: 260px;
      line-height: 1;
      margin-top: -.1em;
    }

    &_name {
      opacity: .5;
      font-size: em(24,16);
    }

    &_phone {
      margin: 5px 0;
      > a {
        font-size: em(42,16);
        color: $link-color;
        text-decoration: none;
        font-weight: 900;
        border-bottom: 1px solid rgba(0,0,0,.3);
        line-height: 1;
        display: inline-block;
      }
    }

    &_mail {
      margin: 20px 0 0;
      > a {
        font-size: em(20,16);
        text-decoration: none;
        color: $link-color;
        border-bottom: 1px solid rgba(0,0,0,.3);
        line-height: 1;
        display: inline-block;
      }
    }

    &_msg {
      display: none;
      margin: 20px 0 0;
      > a {
        display: inline-block;
        height: 42px;
        line-height: 42px;
        padding: 0 20px;
        background: #00a651;
        background-image: linear-gradient(#31c77b,#00a651);
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0 3px 0 rgba(0,0,0,.1);
        transition: transform .2s;
        &:active {
          transform: scale(.9);
        }
      }
    }
    &.is-message-capable &_msg {
      display: block;
    }
  }
}

@include if((target:inline, width: 700px)) {

  .offer {
    min-height: 140px;
    position: relative;
    width: 250px;
    margin: 0 0 0 20px;
    font-size: 13px;

    &_box {
      position: absolute;
      bottom: 0;
    }

    &_mail > a {
      font-size: 16px;
    }
  }

}

@include if((target:editor, width: 700px)) {

  .offer {

    &_box {
      position: static;
    }
  }
}

@include if((target:inline, width: 900px)) {

  .offer {
    font-size: 16px;
    width: 300px;

    &_mail > a {
      font-size: 18px;
    }
  }

}