@include if {
  .part_text,
  .part_richtext {
    font-size: 18px;
  }

  .introduction {
    .part_text {
      font-size: 22px;
      line-height: 1.2;
      text-align: center;
    }
  }

  .part_table {
    table {
      font-size: 12px;
    }

    thead th,
    tfoot th,
    td {
      padding: 5px 10px 5px 0;
    }
  }

  .part_horizontalrule {
    border: none;
    border-bottom: 1px solid $line-color;
  }

  .part_section_header-2 {
    padding: 0;
    margin: $small-section-space 0 15px;
  }

  .part_section_header-3 {
    padding: 0;
    margin: 10px 0 5px;
  }

  .part_section_text {
    &:last-child {
      padding: 0;
    };
  }

  .part_header-1 {
    font-size: $medium-heading-font-size;
  }

  .part_header-2 {
    font-size: $small-heading-font-size;
  }

  .part_header-3 {
    font-size: $tiny-heading-font-size;
    color: $text-color;
  }
}

@include if((width: 700px)) {

  .introduction {
    .part_text {
      text-align: left;
      font-size: 28px;
    }
  }

  .part_header-1 {
    font-size: $large-heading-font-size;
  }

  .part_header-2 {
    font-size: $medium-heading-font-size;
  }

  .part_header-3 {
    font-size: $small-heading-font-size;
  }
  .document_column {
    .part_header {
      text-align: left;
    }
  }

  .part_table {
    table {
      font-size: 14px;
    }
  }
}


@include if((width: 900px)) {
  .part_header-1 {
    font-size: $huge-heading-font-size;
  }

  .part_header-2 {
    font-size: $large-heading-font-size;
  }
}