@include if {
  @keyframes warning-blink {
    30% {
      background: yellow;
    }
    50% {
      background: #fff;
    }
    70% {
      background: yellow;
    }
  }
  .warning {
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    background: yellow;
    animation: warning-blink 2s infinite;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
  }
}

@include if((width: 700px)) {
  .warning {
    text-align: left;
  }
}