@import '../../basic/scss/mixins';

$serif-font: 'Lato', Helvetica, Arial, sans-serif;
$serif-font-fallback: Helvetica, Arial, sans-serif;

$text-color: #000;
$link-color: #004a80;
$heading-color: #004a80;
$line-color: #ddd;

$alternate-background: #f6f4f3;

$small-gutter: 15px;
$large-gutter: 30px;

$small-section-space: 40px;

$small-gap: 15px;
$large-gap: 40px;


$tiny-heading-font-size: 18px;
$small-heading-font-size: 24px;
$medium-heading-font-size: 32px;
$large-heading-font-size: 42px;
$huge-heading-font-size: 60px;