$target: 'editor';

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

body.editor {
  &,
  .common_font,
  p.common,
  ul.common,
  h1.common,.editor h2.common,.editor h3.common,.editor h4.common,.editor h5.common,.editor h6.common,
  .part_header,
  .part_text,
  div.part_richtext

  {
    font-family: 'Lato', serif;
  }
}

@import "tools";
@import 'parts/all';