@import '../../basic/scss/mixins';

$font: 'Roboto Slab', Georgia, "Palatino", "Book Antiqua", serif;
$font: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;

$cv-font: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif;