@include if {
.bio
{
  font-weight: 300;
  list-style: none;
  color: #999;
  margin: 0;
  padding: 0;

  &_event {
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: '';
      left: 38px;
      top: 27px;
      border-left: 1px solid #eee;
      bottom: -5px;
      position: absolute;
    };
  }

  &_time {
    float: left;
    font-size: 13px;

    &_divider {
      color: #aaa;
      font-size: 12px
    }
  }

  &_content {
    margin-left: 90px;
  }

  &_title {
    font-weight: 600;
  }

  &_text {
    font-size: 14px;
    margin: 0;
  }

  &_points {
    list-style: none;
    margin: 5px 0 0 20px;
    font-size: 10pt;
    padding: 0;
  }

  &_point {
    margin: 0 0 5px;
    line-height: 1.3;
    text-indent: -10px;

    strong {
      font-weight: 600;
    }
  }
}
}

@include if (( width: 460px )) {
  .bio {
    &_time {
      font-size: 14px;
    }

    &_content {
      margin-left: 120px;
    }

    &_event {

      &:before {
        left: 45px;
      }
    }
  }
}