.bio {
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  list-style: none;
  color: #999;
  margin: 0;
  padding: 0; }
  .bio_event {
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
    position: relative; }
    .bio_event:before {
      content: '';
      left: 38px;
      top: 27px;
      border-left: 1px solid #eee;
      bottom: -5px;
      position: absolute; }
  .bio_time {
    font-weight: 200;
    float: left;
    font-size: 13px; }
    .bio_time_divider {
      font-weight: 200;
      color: #aaa;
      font-size: 12px; }
  .bio_content {
    margin-left: 90px; }
  .bio_title {
    font-weight: 400; }
  .bio_text {
    font-size: 14px;
    margin: 0; }
  .bio_points {
    list-style: none;
    margin: 5px 0 0 20px;
    font-size: 10pt;
    padding: 0; }
  .bio_point {
    margin: 0 0 5px;
    line-height: 1.3;
    text-indent: -10px; }
    .bio_point strong {
      font-weight: 600; }

@media screen and (min-width: 460px) {
  .bio_time {
    font-size: 16px; }
  .bio_content {
    margin-left: 120px; }
  .bio_event:before {
    left: 45px; } }
.theme_cv {
  background: url("../gfx/white_plaster.png"); }
  .theme_cv .layout_content {
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 5px 15px 20px;
    margin: 5px -5px; }
  .theme_cv .header {
    display: none; }
  .theme_cv .layout_footer {
    padding: 60px 0;
    height: auto; }
  .theme_cv .layout_designed {
    height: 181px;
    width: 162px;
    background: url("../gfx/handmade.png");
    font-size: 0;
    padding: 0; }
  .theme_cv .submenu {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    margin: -2px -30px 20px -20px;
    padding: 8px 0 15px 15px;
    text-align: left; }
    .theme_cv .submenu_item {
      display: inline-block; }
    .theme_cv .submenu_link {
      text-decoration: none;
      color: #888;
      font-weight: 300;
      display: inline-block;
      border-radius: 4px;
      font-size: 12px;
      padding: 0 5px;
      height: 22px;
      line-height: 22px;
      border: 1px solid #fff; }
      .theme_cv .submenu_link:hover {
        color: #000;
        background: #f6f6f6; }
      .theme_cv .submenu_link.is-selected {
        font-weight: 400;
        color: #000;
        border: 1px solid #ddd; }
  .theme_cv .document,
  .theme_cv .part_header,
  .theme_cv .part_text,
  .theme_cv .part_listing,
  .theme_cv .part_poster {
    font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif; }
  .theme_cv .part_header-1, .theme_cv .part_header-2 {
    font-weight: 200;
    color: #333;
    letter-spacing: 0px;
    text-indent: -2px;
    line-height: 1em; }
  .theme_cv .part_header-1 {
    font-size: 34px; }
  .theme_cv .part_header-2 {
    font-size: 24px; }
  .theme_cv .part_poster_title {
    font-weight: 200;
    font-size: 18pt; }
  .theme_cv .part_poster_text {
    font-weight: 200;
    font-size: 12pt; }
  .theme_cv .part_section_header-2 {
    padding-top: 20px;
    padding-bottom: 10px; }
  .theme_cv .part_text,
  .theme_cv .part_listing {
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.4em;
    color: #333; }
  .theme_cv .part_listing_first {
    font-size: 12pt;
    font-weight: 400; }
  .theme_cv .part_horizontalrule {
    margin: 10px -38px; }
  .theme_cv strong {
    font-weight: 400; }

@media screen and (min-width: 400px) {
  .theme_cv .layout_content {
    margin: 10px 0;
    padding: 10px 20px 20px; }
  .theme_cv .submenu_link {
    padding: 0 6px;
    text-transform: uppercase; } }
@media screen and (min-width: 600px) {
  .theme_cv .layout_content {
    margin: 20px 0; }
  .theme_cv .submenu {
    margin: 0 -20px 20px -20px;
    padding: 10px 0 15px 15px; }
    .theme_cv .submenu_link {
      border-radius: 4px;
      font-size: 13px;
      padding: 0 10px;
      letter-spacing: 1px;
      height: 26px;
      line-height: 26px; } }
@media screen and (min-width: 1048px) {
  .theme_cv {
    /*    .header {
          opacity: .3;
          transition: opacity .3s;
          &:hover {
            opacity: 1;
          };
        }
    
        .layout {
          &_header {
            &:after {
              display: none;
            }
          }
        }*/ }
    .theme_cv .layout_content {
      margin: 40px 0;
      background: url("../gfx/layout_paper.png") 0 0 repeat-y;
      box-shadow: none;
      padding: 20px 40px 40px;
      position: relative;
      overflow: visible; }
      .theme_cv .layout_content:before {
        content: '';
        position: absolute;
        height: 14px;
        top: -13px;
        left: 0;
        right: 0;
        background: url("../gfx/layout_paper.png") -2008px 0; }
      .theme_cv .layout_content:after {
        content: '';
        position: absolute;
        height: 14px;
        width: 1004px;
        background: url("../gfx/layout_paper.png") -1004px 0;
        margin: 40px 0 0 -40px; }
    .theme_cv .part_header-1, .theme_cv .part_header-2 {
      text-indent: -2px; }
    .theme_cv .part_header-1 {
      font-size: 42pt; }
    .theme_cv .part_header-2 {
      font-size: 28pt; } }
