.header {
  padding-top: 5px;
  /*
  &:after {
    content: '';
    display: block;
    width: 60px;
    height: .55px;
    background: #000;
    margin: 10px auto;
  };*/ }

.header_logo {
  display: block;
  font-size: 0;
  text-align: center;
  margin-bottom: -5px; }
  .header_logo:before {
    content: '';
    background: url(../gfx/jonas.svg) 50% no-repeat;
    background-size: contain;
    width: 110px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px; }
  .header_logo:after {
    content: '';
    background: url(../gfx/munk.svg) 50% no-repeat;
    background-size: contain;
    width: 106px;
    height: 41px;
    display: inline-block;
    vertical-align: top; }

.header_menu {
  list-style: none;
  margin: 0;
  padding: 5px 0 7px;
  display: block;
  text-align: center; }
  .header_menu_item {
    display: inline-block; }
  .header_menu_link {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 5px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase; }
    .header_menu_link.is-selected, .header_menu_link.is-active {
      font-weight: 700;
      color: #000; }

@media screen and (min-width: 760px) {
  .header {
    height: 80px;
    padding: 0; }

  .header_logo {
    position: absolute;
    top: 14px; }

  .header_menu {
    padding: 25px 0 0 0;
    text-align: right; }
    .header_menu_link {
      font-size: 16px;
      letter-spacing: .08em;
      padding: 5px 10px;
      position: relative;
      color: #999; }
      .header_menu_link:after {
        content: '';
        position: absolute;
        top: 100%;
        width: 0%;
        margin-left: 0%;
        left: 50%;
        height: 1px;
        background: #999;
        transition: all .3s; }
      .header_menu_link.is-selected:after, .header_menu_link:hover:after {
        width: 50%;
        margin-left: -25%; }
      .header_menu_link.is-selected, .header_menu_link.is-active {
        letter-spacing: .04em; }
        .header_menu_link.is-selected:after, .header_menu_link.is-active:after {
          background: #000; } }
.submenu {
  list-style: none;
  margin: -15px -20px 20px -5px;
  padding: 0 5px 8px;
  position: relative;
  text-align: center;
  /*
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(#fff 0%, #fff 50%, #bbb 50%, #bbb 100%);
  };*/ }
  .submenu_item {
    display: inline-block; }
  .submenu_link {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 0 5px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    border-radius: 5px; }
    .submenu_link:hover {
      color: #000; }
    .submenu_link.is-selected {
      font-weight: 400;
      color: #000; }

@media screen and (min-width: 760px) {
  .submenu {
    margin: -5px -20px 20px -15px;
    text-align: left; }
    .submenu_link {
      padding: 0 10px; } }
.intro_photo {
  max-width: 240px;
  margin: 0 auto; }
.intro_body {
  text-align: center;
  font-weight: 400; }
.intro_title {
  line-height: 1;
  margin: 20px 0 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Cormorant'; }
.intro_job {
  margin: 5px 0;
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 300; }
.intro_links {
  list-style: none;
  padding: 0; }
.intro_link {
  margin: 5px 0; }

@media screen and (min-width: 360px) {
  .intro_title {
    font-size: 22px;
    letter-spacing: 2px; } }
@media screen and (min-width: 700px) {
  .intro {
    display: flex;
    margin: 30px 30px; }
    .intro_photo {
      max-width: none;
      flex-basis: 35%; }
    .intro_title {
      font-size: 28px;
      font-weight: 300; }
    .intro_body {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .intro_address {
      margin-top: 20px; }
    .intro_link {
      display: inline-block; }
      .intro_link > a {
        padding: 5px; } }
@media screen and (min-width: 1000px) {
  .intro_title {
    font-size: 40px;
    letter-spacing: 2px; } }
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-align: center;
  font-weight: 300; }

.layout {
  margin: 0 auto;
  max-width: 1004px;
  padding: 0 10px;
  text-align: left; }
  .layout_content {
    padding: 20px 0 20px 0;
    overflow: hidden; }
  .layout_footer {
    text-align: center;
    padding: 60px 20px;
    perspective: 20px; }
  .layout_designed {
    display: inline-block;
    cursor: -webkit-grab;
    text-decoration: none;
    color: #000;
    font-weight: 400; }
    .layout_designed_text {
      display: block; }
    .layout_designed:before {
      content: '';
      display: inline-block;
      background: url("../gfx/humanise.svg") 50% 0 no-repeat;
      background-size: 100px;
      width: 100px;
      height: 100px;
      transition: transform 1s;
      transform-style: preserve-3d;
      transform-origin: 50% 100%; }
    .layout_designed:hover:before {
      transition: color 1s,transform 3s;
      transform: rotate3d(2, 0, 14, 10deg) scale(0.8); }
    .layout_designed:active:before {
      transition-duration: .1s;
      transform: scale(1.1) translate(0, -10px); }

@media screen and (min-width: 600px) {
  .layout {
    padding: 0 20px; } }
