.bio {
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  list-style: none;
  color: #999;
  margin: 0;
  padding: 0; }
  .bio_event {
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
    position: relative; }
    .bio_event:before {
      content: '';
      left: 38px;
      top: 27px;
      border-left: 1px solid #eee;
      bottom: -5px;
      position: absolute; }
  .bio_time {
    font-weight: 200;
    float: left;
    font-size: 13px; }
    .bio_time_divider {
      font-weight: 200;
      color: #aaa;
      font-size: 12px; }
  .bio_content {
    margin-left: 90px; }
  .bio_title {
    font-weight: 600; }
  .bio_text {
    font-size: 14px;
    margin: 0; }
  .bio_points {
    list-style: none;
    margin: 5px 0 0 20px;
    font-size: 10pt;
    padding: 0; }
  .bio_point {
    margin: 0 0 5px;
    line-height: 1.3;
    text-indent: -10px; }
    .bio_point strong {
      font-weight: 600; }

@media screen and (min-width: 460px) {
  .bio_time {
    font-size: 16px; }
  .bio_content {
    margin-left: 120px; }
  .bio_event:before {
    left: 45px; } }

@keyframes hue {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

.vitae_hero {
  background: #666;
  animation-name: hue;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  .vitae_hero_body {
    transform-origin: 50% 0;
    position: fixed;
    background-color: #96aeb7;
    background-image: url("../gfx/hero_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-bottom: 40%;
    /*transition: filter .3s;*/
    top: -20px;
    left: -20px;
    right: -20px;
    top: 0;
    left: 0;
    right: 0; }
  .vitae_hero_text {
    position: fixed;
    left: 10px;
    top: 12vw;
    right: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-size: 10vw;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1vw; }
  .vitae_hero_sub {
    position: fixed;
    left: 10px;
    top: 24vw;
    right: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-size: 3vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1vw; }

.vitae_layout {
  margin-top: 35%;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  max-width: none;
  text-align: left; }

.vitae_content {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 960px;
  overflow: visible; }

.vitae_footer {
  padding: 100px 0 60px;
  height: auto;
  text-align: center; }

.vitae_designed {
  background: url("../gfx/humanise.svg") 50% 0 no-repeat;
  background-size: 100px;
  padding-top: 110px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  opacity: .2; }

.vitae_menu {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin: 0 -10px 20px;
  padding: 5px 0 15px 5px;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
  z-index: 9;
  -webkit-mask-image: linear-gradient(black 85%, transparent);
  font-size: 0; }
  .vitae_menu_item {
    display: inline-block; }
  .vitae_menu_link {
    text-decoration: none;
    color: #444;
    font-weight: 400;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    border: 1px solid transparent;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .vitae_menu_link:hover {
      color: #000;
      background: rgba(0, 0, 0, 0.05);
      background-clip: padding-box; }
    .vitae_menu_link.is-selected {
      font-weight: 600;
      color: #000;
      border: 1px solid #ddd;
      background: #fff; }

.vitae,
.vitae .document,
.vitae .part_header,
.vitae .part_text,
.vitae .part_listing,
.vitae .part_poster {
  font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif; }

.vitae .part_header-1, .vitae .part_header-2 {
  color: #333;
  letter-spacing: 0px;
  line-height: 1em; }

.vitae .part_header-1 {
  font-size: 32px;
  font-weight: 800; }

.vitae .part_header-2 {
  font-size: 24px;
  font-weight: 700; }

.vitae .part_header strong {
  font-weight: 400; }

.vitae .part_poster_title {
  font-weight: 600;
  font-size: 18pt; }

.vitae .part_poster_text {
  font-weight: 300;
  font-size: 16px; }

.vitae .part_poster_link {
  font-size: 16px; }

.vitae .part_text, .vitae .part_listing {
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.4em;
  color: #333; }
  .vitae .part_text strong, .vitae .part_listing strong {
    font-weight: 400; }

.vitae .part_horizontalrule {
  margin: 10px 0px; }

.vitae .part_listing_first {
  font-size: 12pt;
  font-weight: 600; }

.vitae .part_section_header-2 {
  padding-top: 20px;
  padding-bottom: 10px; }

.vitae .common_link {
  font-weight: 500; }

@media screen and (min-width: 375px) {
  .vitae_content {
    padding: 5px 15px; }
  .vitae_menu {
    padding-top: 10px;
    margin-top: -5px; }
    .vitae_menu_link {
      max-width: none; } }

@media screen and (min-width: 400px) {
  .vitae_menu {
    margin-top: 0;
    padding-top: 5px; }
    .vitae_menu_link {
      padding: 0 6px;
      text-transform: uppercase; } }

@media screen and (min-width: 600px) {
  .vitae_content {
    padding: 5px 25px; }
  .vitae_menu {
    margin: 5px -20px 20px -15px;
    padding: 15px 0 15px 5px; }
    .vitae_menu_link {
      border-radius: 4px;
      font-size: 13px;
      padding: 0 10px;
      letter-spacing: 1px;
      height: 26px;
      line-height: 26px;
      max-width: none; }
  .vitae .part_header-1 {
    font-size: 42pt; }
  .vitae .part_header-2 {
    font-size: 28pt; }
  .vitae .part_section_header-2 {
    padding-bottom: 20px; } }

@media screen and (min-width: 1000px) {
  .vitae_hero_body {
    padding-bottom: 400px; }
  .vitae_hero_text {
    font-size: 100px;
    top: 120px;
    letter-spacing: 10px; }
  .vitae_hero_sub {
    font-size: 30px;
    top: 240px;
    letter-spacing: 10px; }
  .vitae_layout {
    margin-top: 350px; } }
