.bio {
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  list-style: none;
  color: #999;
  margin: 0;
  padding: 0; }
  .bio_event {
    line-height: 20px;
    color: #333;
    margin-bottom: 10px;
    position: relative; }
    .bio_event:before {
      content: '';
      left: 46px;
      top: 27px;
      border-left: 1px solid #eee;
      bottom: -5px;
      position: absolute; }
  .bio_time {
    font-weight: 200;
    float: left; }
    .bio_time_divider {
      font-weight: 200;
      color: #aaa;
      font-size: 12px; }
  .bio_content {
    margin-left: 120px; }
  .bio_title {
    font-weight: 400; }
  .bio_text {
    font-size: 14px;
    margin: 0; }
  .bio_place {
    margin-left: 10px; }
  .bio_points {
    list-style: none;
    margin: 5px 0 0 20px;
    font-size: 10pt;
    padding: 0; }
  .bio_point {
    margin: 0; }
    .bio_point strong {
      font-weight: 600; }

.vitae_hero {
  background: #666;
  transform-origin: 50% 0;
  animation-name: hue;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  .vitae_hero_body {
    position: fixed;
    background-color: #96aeb7;
    background-image: url("../gfx/hero_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-bottom: 40%;
    /*transition: filter .3s;*/
    top: -20px;
    left: -20px;
    right: -20px;
    top: 0;
    left: 0;
    right: 0; }
  .vitae_hero_text {
    position: fixed;
    left: 10px;
    top: 12vw;
    right: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-size: 10vw;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1vw; }

@keyframes hue {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }
.theme_vitae {
  background: #777; }
  .theme_vitae .layout {
    margin-top: 35%;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    max-width: none;
    overflow: hidden; }
  .theme_vitae .layout_content {
    padding: 0;
    margin: 0 auto;
    max-width: 960px;
    overflow: visible; }
  .theme_vitae .header {
    display: none; }
  .theme_vitae .layout_footer {
    padding: 60px 0;
    height: auto; }
  .theme_vitae .layout_designed {
    height: 181px;
    width: 162px;
    background: url("../gfx/handmade.png");
    font-size: 0;
    padding: 0; }
  .theme_vitae .submenu {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    margin: -2px -30px 20px -15px;
    padding: 8px 0 15px 15px;
    text-align: left; }
    .theme_vitae .submenu_item {
      display: inline-block; }
    .theme_vitae .submenu_link {
      text-decoration: none;
      color: #888;
      font-weight: 300;
      display: inline-block;
      border-radius: 4px;
      font-size: 12px;
      padding: 0 5px;
      height: 22px;
      line-height: 22px;
      border: 1px solid #fff; }
      .theme_vitae .submenu_link:hover {
        color: #000;
        background: #f6f6f6; }
      .theme_vitae .submenu_link.is-selected {
        font-weight: 400;
        color: #000;
        border: 1px solid #ddd; }
  .theme_vitae .document,
  .theme_vitae .part_header,
  .theme_vitae .part_text,
  .theme_vitae .part_listing,
  .theme_vitae .part_poster {
    font-family: 'Open Sans','Helvetica Neue','Helvetica',Arial,sans-serif; }
  .theme_vitae .part_header-1, .theme_vitae .part_header-2 {
    font-weight: 200;
    color: #333;
    letter-spacing: 0px;
    line-height: 1em; }
  .theme_vitae .part_header-1 {
    font-size: 34px; }
  .theme_vitae .part_header-2 {
    font-size: 24px; }
  .theme_vitae .part_poster_title {
    font-weight: 200;
    font-size: 18pt; }
  .theme_vitae .part_poster_text {
    font-weight: 200;
    font-size: 12pt; }
  .theme_vitae .part_section_header-2 {
    padding-top: 20px;
    padding-bottom: 10px; }
  .theme_vitae .part_text,
  .theme_vitae .part_listing {
    font-weight: 300;
    font-size: 12pt;
    line-height: 1.4em;
    color: #333; }
  .theme_vitae .part_listing_first {
    font-size: 12pt;
    font-weight: 400; }
  .theme_vitae .part_horizontalrule {
    margin: 10px 0px; }
  .theme_vitae strong {
    font-weight: 400; }

@media screen and (min-width: 400px) {
  .theme_vitae .submenu {
    margin-top: 0;
    padding-top: 10px; }
    .theme_vitae .submenu_link {
      padding: 0 6px;
      text-transform: uppercase; } }
@media screen and (min-width: 600px) {
  .theme_vitae .submenu {
    margin: 0 -20px 20px -15px;
    padding: 20px 0 15px 15px; }
    .theme_vitae .submenu_link {
      border-radius: 4px;
      font-size: 13px;
      padding: 0 10px;
      letter-spacing: 1px;
      height: 26px;
      line-height: 26px; } }
@media screen and (min-width: 1000px) {
  .vitae_hero_body {
    padding-bottom: 400px; }
  .vitae_hero_text {
    font-size: 100px;
    top: 120px;
    letter-spacing: 10px; }

  .theme_vitae .layout {
    margin-top: 350px; } }
@media screen and (min-width: 1048px) {
  .theme_vitae .part_header-1 {
    font-size: 42pt; }
  .theme_vitae .part_header-2 {
    font-size: 28pt; } }
