body {
  background: #fafafa;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}

.layout {
  background: #fff;
  text-align: left;
}
.layout_logo {
  margin: 0;
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 1.1;
  color: #333;
  font-weight: 300;
  padding: 10px;
  overflow: hidden;
}
.layout_content {
  padding: 10px;
}

/************** Navigation ****************/
.layout_menu_top {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 30px;
  font-size: 0;
  border-bottom: 1px solid #eee;
}

.layout_menu_top_item {
  display: inline;
  height: 30px;
  border-right: 1px dotted #eee;
}

.layout_menu_top_link {
  line-height: 30px;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.layout_menu_top_link_highlighted > span,
.layout_menu_top_link_selected > span {
  border-bottom: 3px solid #666;
  height: 28px;
  display: inline-block;
}

.layout_menu_top_link:hover {
  background: #f8f8f8;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin: 0 -1px;
}

/**************************** Sidebar ************************/
div.layout_sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.layout_sidebar li a {
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #555;
  padding-left: 10px;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  display: block;
}

div.layout_sidebar a.selected, div.layout_sidebar a.highlighted {
  font-weight: 600;
  color: #000;
  border-left: 3px solid #666;
  padding-left: 7px;
}

div.layout_sidebar li a:hover {
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: -1px 0 0;
}

div.layout_sidebar ul ul li a {
  padding-left: 30px;
  font-size: 12px;
}

@media screen and (min-width: 700px) {
  .layout {
    background: #fff;
    border: 1px solid #eee;
    border-width: 0 1px;
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
  }
  .layout_logo {
    padding: 20px;
    font-size: 32px;
  }
  .layout_sidebar {
    float: right;
    width: 200px;
    padding-top: 15px;
  }
  .layout_content {
    padding: 20px;
    margin-right: 200px;
    min-height: 300px;
  }
  .layout_menu_top {
    padding-left: 10px;
  }
}