/********************* Common *******************/
.common_button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  background: #eee;
  border: none;
  font: inherit;
  height: 32px;
  padding: 0 15px;
  border-radius: 3px;
}

/************ Headers ***********/
.part_header-1 {
  font-size: 38px;
  line-height: 1;
}

.part_header-2 {
  font-size: 19pt;
  line-height: 1.105263158em;
  font-weight: 400;
}

.part_header-3 {
  font-size: 14pt;
  line-height: 1.142857143em;
  font-weight: 600;
}

.part_header-4,
.part_header-5,
.part_header-6 {
  font-weight: 600;
}

.part_section_header-3 {
  padding-bottom: 5px;
}

/************** Poster ************/
.part_poster_text {
  font-size: 14px;
}

.part_poster_link {
  font-size: 14px;
}

.part_poster_title {
  font-weight: 400;
}

/*************** text *************/
.part_text strong,
.part_richtext strong {
  color: #000;
  font-weight: 700;
}

.part_richtext p {
  margin: 10px 0;
}

/** Listing **/
.part_listing {
  font-size: 11pt;
  word-spacing: 1px;
  color: #999;
}

.part_listing_text {
  color: #333;
}

.part_listing_first {
  font-size: 12pt;
}

.part_list h3 {
  font-weight: normal;
}

.part_horizontalrule {
  border: none;
  border-bottom: solid 1px #eee;
}

.part_news_item_date {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}
.part_news_item_links {
  margin-top: 5px;
}

.part_news_title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.part_news_item {
  padding: 10px 0;
}

.part_news_item_title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 1;
}

.part_news_item_description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

/** Menu **/
.part_menu-bar {
  display: inline-block;
  font-size: 0;
}

.part_menu_item {
  margin-right: -1px;
}

.part_menu_link-bar {
  line-height: 22px;
  font-size: 16px;
  padding: 6px 10px;
  display: block;
  text-decoration: none;
  color: #666;
  border: 1px solid #ddd;
}

.part_menu_link-bar:hover {
  background: #f3f3f3;
}

.part_menu_link-bar-first {
  border-radius: 4px 0 0 4px;
}

.part_menu_link-bar-last {
  border-radius: 0 4px 4px 0;
}

.part_menu_link-bar-selected {
  color: #007AC5;
  background: #f3f3f3;
  border-color: #ccc;
}

.layout_search_body {
  position: absolute;
  top: 0;
  left: 0;
  right: 150px;
}

.layout_search_active {
  background: #00a8e6;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: block;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.layout_search_active .layout_search_body {
  display: block;
}
.layout_search_active .layout_search_icon {
  display: none;
}

.layout_search_reset {
  border: none;
  position: absolute;
  font-size: 0;
  right: -145px;
  width: 38px;
  height: 38px;
  top: 2px;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.layout_search_reset > svg {
  fill: #555;
}

.layout_search_icon {
  cursor: pointer;
}

.layout_search_text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  border: none;
  padding: 0 0 0 15px;
  font-size: 16px;
  border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
  outline: none;
}
.layout_search_text::-ms-clear {
  width: 0;
  height: 0;
}

.layout_search_submit {
  width: 70px;
  height: 28px;
  box-sizing: border-box;
  display: inline-block;
  background: #555;
  color: #fff;
  position: absolute;
  right: -100px;
  top: 7px;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  -webkit-appearance: none;
  font-family: inherit;
}

@media screen and (min-width: 560px) {
  .layout_search_icon:hover > path {
    fill: #333;
  }
  .layout_search_active {
    background: none;
    border-bottom: none;
    height: 46px;
    left: auto;
  }
  .layout_search_body {
    overflow: hidden;
    display: block;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.2s, width 0.5s;
    -moz-transition: opacity 0.2s, width 0.5s;
    -ms-transition: opacity 0.2s, width 0.5s;
    -o-transition: opacity 0.2s, width 0.5s;
    transition: opacity 0.2s, width 0.5s;
    left: auto;
    width: 0px;
    height: auto;
    top: 6px;
    right: 8px;
    background: none;
    padding: 0;
  }
  .layout_search_text {
    border-radius: 3px;
    border: 1px solid #eee;
    height: 36px;
    font-size: 16px;
    padding: 0 4px 3px 30px;
  }
  .layout_search_text::-webkit-input-placeholder {
    font-weight: 300;
  }
  .layout_search_text:focus {
    outline: none;
  }
  .layout_search_submit {
    font-size: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE5cHgiIGhlaWdodD0iMTlweCIgdmlld0JveD0iMCAwIDE5IDE5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOSAxOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjNzc3Nzc3IiBkPSJNMTcuNjMyLDE2Ljk1NWwtNC43NjEtNC43NjJjMS4xMDktMS4xODgsMS43OTUtMi43NzYsMS43OTUtNC41MjdjMC0zLjY2Ny0yLjk4Mi02LjY0OC02LjY0OS02LjY0OA0KCWMtMy42NjcsMC02LjY0OSwyLjk4MS02LjY0OSw2LjY0N2MwLDMuNjY3LDIuOTgyLDYuNjQ3LDYuNjQ5LDYuNjQ3YzEuMzkxLDAsMi42ODItMC40MzQsMy43NS0xLjE2NGw0LjgzNCw0LjgzNEwxNy42MzIsMTYuOTU1eg0KCSBNMi44MjQsNy42NjZjMC0yLjg2MiwyLjMzLTUuMTkxLDUuMTkyLTUuMTkxYzIuODY0LDAsNS4xOTIsMi4zMjksNS4xOTIsNS4xOTFjMCwyLjg2MS0yLjMyOCw1LjE5MS01LjE5Miw1LjE5MQ0KCUM1LjE1NCwxMi44NTUsMi44MjQsMTAuNTI3LDIuODI0LDcuNjY2eiIvPg0KPC9zdmc+DQo=");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    right: auto;
    background-color: transparent;
    width: 32px;
    height: 36px;
    cursor: pointer;
    top: 0;
  }
  .layout_search_reset {
    top: 6px;
    right: 4px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
  }
  .layout_search_reset:hover {
    opacity: 1;
  }
  .layout_search_active .layout_search_body {
    width: 200px;
    opacity: 1;
  }
}
@media screen and (min-width: 760px) {
  .layout_search_body {
    top: 9px;
  }
}
.layout_info {
  overflow: hidden;
  padding: 15px;
  border: 1px solid #eee;
  border-width: 1px 0;
  background: #fff;
}
.layout_info .common_link_text {
  color: #666;
}

.layout_info_header {
  font-weight: 300;
  font-size: 28px;
  margin: 0px 20px 10px 0;
  height: 28px;
  color: #666;
}

.layout_info_about p {
  font-size: 12pt;
  line-height: 16pt;
  margin-top: 11px;
  color: #666;
}

.layout_info_more {
  line-height: 11px;
  font-size: 11pt;
  margin-top: 24px;
}

.layout_info_contact {
  font-size: 9pt;
  color: #666;
}
.layout_info_contact p {
  margin: 0;
  line-height: 16pt;
}

.layout_info_name {
  color: #999;
  font-size: 12pt;
  font-weight: normal;
  display: block;
  margin-top: 10px;
}

.layout_info_phone {
  color: inherit;
  text-decoration: none;
}

.layout_info:hover .layout_info_header {
  color: #000;
}
.layout_info:hover .layout_info_about p {
  color: #333;
}
.layout_info:hover .common_link_text {
  color: #028CE0;
}
.layout_info:hover .layout_info_name {
  color: #333;
}

@media screen and (min-width: 560px) {
  .layout_info {
    margin: 20px 0;
    padding: 0 20px;
  }
  .layout_info_about {
    float: left;
    width: 66.4%;
    padding: 15px 0;
  }
  .layout_info_about p {
    margin-right: 40px;
  }
  .layout_info_contact {
    float: left;
    width: 33%;
    padding: 15px 0;
  }
}
@media screen and (min-width: 1000px) {
  .layout_info {
    padding: 0;
  }
}
.layout_placards {
  list-style: none;
  background: #f8f8f9;
  margin: 0 -15px;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.layout_placards strong {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #89a;
  padding: 8px 0px 10px;
  font-weight: 300;
  white-space: nowrap;
  width: 100%;
  text-indent: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout_placards em {
  font-style: normal;
  color: #333537;
}

.layout_placards_link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 0;
  border-bottom: 1px solid #ddd;
}
.layout_placards_link:hover {
  background: #f0f0f3;
}
.layout_placards_link:focus {
  outline-offset: -7px;
}

.layout_placards_text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 20px 0 150px;
  height: 120px;
  color: #567;
  font-weight: 300;
  background: url("../gfx/placards.png") 0 0 no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .layout_placards_text {
    background-image: url("../gfx/placards_2x.png");
    background-size: 120px 390px;
  }
}
.layout_placards_text_hui {
  background-position: 0 -265px;
}

.layout_placards_text_editor {
  background-position: 0px -5px;
}

.layout_placards_text_objects {
  background-position: 0 -135px;
}

@media screen and (min-width: 760px) {
  .layout_placards {
    border: 1px solid #ddd;
    border-width: 1px 0;
    margin: 0 -20px;
  }
  .layout_placards_item {
    float: left;
    width: 33.333333333%;
    font-size: 0;
    overflow: hidden;
  }
  .layout_placards_link {
    border-right: 1px solid #ddd;
    border-bottom: none;
  }
  .layout_placards_link_last {
    border: none;
  }
  .layout_placards_text {
    margin-left: -30px;
  }
}
@media screen and (min-width: 980px) {
  .layout_placards {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
  }
  .layout_placards_text {
    margin-left: 0;
  }
}
.layout_middle {
  background: #fff;
}

.layout_design {
  background: url("../gfx/footer.png") 50% no-repeat;
  text-indent: -10000px;
  width: 177px;
  height: 191px;
  display: block;
  margin: 20px auto 20px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .layout_design {
    background-image: url("../gfx/footer_2x.png");
    background-size: 162px 181px;
  }
}
@media screen and (min-width: 760px) {
  .layout_head {
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
  }
  .scroll .layout_head {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }
  .scroll .layout_head .layout_menu_link {
    color: #000;
    outline-color: #028CE0;
  }
  .scroll .layout_head .layout_search_icon > path {
    fill: #aaa;
  }
  .scroll .layout_head .layout_search_icon:hover > path {
    fill: #333;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .layout_head {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
    }
    .scroll .layout_head {
      background: rgba(255, 255, 255, 0.6);
    }
    .scroll .layout_menu_link {
      text-shadow: 0 0 10px #fff;
    }
  }
}
@media screen and (min-width: 980px) {
  body, html {
    height: 100%;
  }
  .layout_middle,
  .layout_head_body,
  .layout_base {
    position: relative;
    min-height: 100%;
  }
  .layout_body {
    min-height: 400px;
  }
  .layout_base {
    padding-bottom: 220px;
  }
  .layout_footer {
    margin-top: -230px;
  }
}
@media screen and (min-width: 760px) {
  .scroll .sidemenu {
    position: fixed;
    top: 56px;
  }
}
.call-to-action {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px 10px;
  text-align: center;
}

.call-to-action-text {
  margin: -5px 0 0;
  color: #666;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}

.call-to-action-button {
  background: #3080CB;
  color: #fff;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}

.call-to-action-button:hover {
  background: #206AB0;
}

.call-to-action-button:active {
  -webkit-transform: scale(0.95);
  outline: none;
}

@media screen and (min-width: 760px) {
  .document_row {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1000px) {
  .document_row {
    padding: 0;
  }
}
.search {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px 20px;
}