/********************* Common *******************/

@include if((target: inline)) {
  .common_link {
    color: #ddd;
    color: rgba(0,0,0,.1);
    cursor: pointer;
    font-weight: normal;
  }

  .common_link_text {
    color: $link-color;
  }

  .common_link:hover,
  .common_link:hover .common_link_text {
    color: darken($link-color,20%);
  }

  .common_link:visited {
    .common_link_text {
      color: $link-visited-color;
    }
  }

  .common_header {
    margin: 0px;
    color: #000;
  }

  .common_header-1 {
    font-weight: 600;
  }

  p.common, ul.common {
    font-size: 16px;
    line-height: 160%;
    text-align: justify;
  }

  @include retina {
    .common_link {
      text-decoration: none;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.2) 87%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0) 90%);
      background-repeat: repeat-x;
      
      &:hover {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 87%, $link-color 87%, $link-color 90%, rgba(0, 0, 0, 0) 90%);
      }
    }
  }

}

@include if {
  .common_button {
    @include border-box;
    @include no-appearance;
    background: $button-color;
    border: none;
    font: inherit;
    height: 32px;
    padding: 0 15px;
    border-radius: 3px;
  }
}