@include if((target: inline)) {
  .layout_base {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
  }

  .layout_head_body {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }

  .layout_head {
    background: #f6f6f9;
    /*
    &.is-hero {
      background: #fbfaef;

      .layout_menu_link {
        color: #655d3f;
        outline-color: #655d3f;

        &-first {
          > svg {
            fill: #655d3f;
            color: #655d3f;
          }
          .scroll & {
            > svg {
              fill: #444;
              color: #999;
            }
          }
        }
      }

      .layout_search_icon > path {
        fill: #655d3f;
      }
      .layout_head_logo {
        > svg {
          fill: #655d3f;
          .scroll & {
            fill: rgba(0,0,0,.3);
          }
        }
        .scroll &:hover {
          > svg {
            fill: #666;
          }
        }
      }
    }*/

    &_logo {
      position: absolute;
      left: 10px;
      top: 5px;
      > svg {
        width: 32px;
        height: 32px;
        fill: #999;
      }
      &:hover {
        > svg {
          fill: #666;
        }
      }
    }
  }

  .layout_body {
    padding-bottom: 40px;
  }

  .layout_content-sidebar {
    max-width: 980px;
    margin: 0 auto;
  }

  .layout_inner_content {
    padding-top: 20px;
  }
}

@include if {
  .layout_design {
    background: url('../gfx/footer.png') 50% no-repeat;
    text-indent: -10000px;
    width: 177px;
    height: 191px;
    display: block;
    margin: 20px auto 20px;
  }

  @include retina {
    .layout_design {
      background-image: url('../gfx/footer_2x.png');
      background-size: 162px 181px;
    }
  }
}

@include if((width: 760px, target:inline)) {

  .layout_inner_content-sidebar {
    margin-right: 30%;
    overflow: hidden;
    padding-right: 0;
  }

  .layout_sidebar {
    width: 30%;
    float: right;
  }

  .layout_body {
    overflow: hidden;
    min-height: 500px;
  }

  .layout {
    padding-top: 54px;
  }

  .layout_head {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    &_logo {
      left: 15px;
      top: 7px;

      > svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}

@include if((width: 760px)) {
  .layout_head {
    transition: background-color .3s;
    -moz-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -ms-transition: background-color .3s;
  }

  .scroll {
    .layout_head {
      background: rgba(255,255,255,.95);
      box-shadow: 0 0 7px rgba(0,0,0,.2);

      .layout_menu_link {
        color: #000;
        outline-color: $link-color;
      }

      .layout_search_icon > path {
        fill: #aaa;
      }

      .layout_search_icon:hover > path {
        fill: #333;
      }
    }
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .layout_head {
      -webkit-backdrop-filter: blur(8px);
      //-webkit-backdrop-filter: blur(8px) brightness(1.15);
    }
    .scroll {
      .layout_head {
        background: rgba(255,255,255,0.6);
      }

      .layout_menu_link {
        text-shadow: 0 0 10px #fff;
      }
    }
  }
}



@include if((width: 980px)) {

  body, html {
    height: 100%;
  }

  .layout_middle,
  .layout_head_body,
  .layout_base {
    position: relative;
    min-height: 100%;
  }

  .layout_body {
    min-height: 400px;
  }

  .layout_base {
    padding-bottom: 220px;
  }

  .layout_footer
  {
    margin-top: -230px;
  }
}

@include if((target: msie_lt9)) {
  .layout_head_body, .layout_base {
    width: 980px;
    padding-left: 20px;
    padding-right: 20px;
  }
}