@include if((target: inline)) {

  .part_text,
  .part_richtext,
  .part_listing {
    font-size: $base-font-size;
    word-spacing: 1px;
    line-height: $base-line-height;
    color: $base-text-color;
  }
}

@include if {

  .part_text,
  .part_richtext {
    font-size: $base-font-size;
    word-spacing: 1px;
    line-height: $base-line-height;
    color: $base-text-color;
  }

  /************ Headers ***********/

  .part_header-1 {
    font-size: 42px;
    line-height: 1;
  }

  .part_header-2 {
    font-size: 19pt;
    line-height: 1.105263158em;
    font-weight: 600;
  }


  .part_header-3 {
    font-size: 14pt;
    line-height: 1.142857143em;
    font-weight: 600;
  }

  .part_header-4,
  .part_header-5,
  .part_header-6 {
    font-weight: 600;
  }

  .part_section_header-3 {
    padding-bottom: 5px;
  }

  /************** Poster ************/

  .part_poster_text {
    font-size: 14px;
  }

  .part_poster_link {
    font-size: 14px;
  }

  .part_poster_title {
    font-weight: 400;
  }


  /*************** text *************/

  .part_text strong,
  .part_richtext strong {
    color: #000;
    font-weight: 600;
  }

  .part_richtext p {
    margin: 10px 0;
  }

  /** Listing **/

  .part_listing {
    &_item::marker {
      color: #aaa;
    }
  }

  .part_listing_first {
    font-size: $base-font-size;
    font-weight: 600;
  }

  .part_list h3 {
    font-weight: normal;
  }

  .part_horizontalrule {
    border: none;
    border-bottom: solid 1px $line-color;
  }

  .part_news {
    &_item {
      &_date {
        margin-top: 10px;
        font-size: 14px;
        color: $subtle-text-color;
      }
      &_links {
        margin-top: 5px;
      }
    }
  }

  .part_news_title {
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    color: $subtle-text-color;
  }

  .part_news_item {
    padding: 15px 0;
    font-size: $base-font-size;
  }

  .part_news_item_title {
    font-weight: 600;
    color: #000;
    line-height: 1;
  }

  .part_news_item_description {
    margin-top: 5px;
    line-height: $base-line-height;
    color: #333;
  }

  /** Menu **/

  .part_menu-bar {
    display: inline-block;
    font-size: 0;
  }

  .part_menu_item {
    margin-right: -1px;
  }

  .part_menu_link-bar {
    line-height: 22px;
    font-size: 16px;
    padding: 6px 10px;
    display: block;
    text-decoration: none;
    color: #666;
    border: 1px solid #ddd;
  }

  .part_menu_link-bar:hover {
    background: #f3f3f3;
  }

  .part_menu_link-bar-first {
    border-radius: 4px 0 0 4px;
  }

  .part_menu_link-bar-last {
    border-radius: 0 4px 4px 0;
  }

  .part_menu_link-bar-selected {
    color: $highlight-color;
    background: #f3f3f3;
    border-color: #ccc;
  }

}