.common_header {
  font-family: "Montserrat", "Avenir", sans-serif;
  font-weight: 400;
}
.common_header-1 {
  font-size: 38px;
}

.common_link {
  color: #06d;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}

.part_text {
  line-height: 1.4em;
}