.navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  list-style: none;
  font-family: $header-font;
  
  &_item {
    display: block;
    padding: 0 15px;
    line-height: 30px;
    text-decoration: none;
    color: inherit;
    &:first-child {
      padding-left: 0;
    }
    
    &-selected {
      font-weight: 600;
    }
  }
}

@media (min-width: 600px) {
  .navigation {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .navigation {
    font-size: 16px;
  }
}